//mixin para aplicar flex-box
@mixin flex($direction, $justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

//mixin para breakpoint en 900px de ancho
@mixin tablet{
    @media screen and (max-width:900px) {
        @content;
    }
}
//mixin para breakpoint en 765px de ancho
@mixin bp-765{
    @media screen and (max-width:765px){
        @content;
    }
}
//mixin para breakpoint en 520px de ancho
@mixin mobile{
    @media screen and (max-width:520px) {
        @content;
    }
}