footer{
    background-color: rgb(194, 194, 194);
    margin-bottom: 0;
    padding: 1rem;
    h6{
        text-align: center;
    }
    .social-media{
        .footer-nav{
            ul{
                @include flex(row, space-evenly, center);
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                    }
                    .bi{
                        color: black;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}